<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
<div id="wizardDivPrincipal" class="container"></div>
<script type="text/javascript">
    $.getScript("../Scripts/wizardsiurav1_0.js?" + new Date().getTime(), function () { });
</script>
<!--<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.: SIUR-A WIZARD V 1.0 :.</title>
    **ARROBA** Styles.Render("~/Content/css")
    **ARROBA** Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wizardDivPrincipal" class="container"></div>

    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/pnotify.min.js"></script>
    <script type="text/javascript" src="~/Scripts/pnotify.js"></script>
    <script type="text/javascript" src="~/Scripts/toggle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/loader.js"></script>
    <script type="text/javascript" src="~/Scripts/miscelaneas.js"></script>
    <script type="text/javascript" src="~/Scripts/dinamicos.js"></script>
    <script type="text/javascript">
        $.getScript("../Scripts/wizardsiurav1_0.js?" + new Date().getTime(), function () { });
    </script>
</body>
</html>-->
