@{
    Layout = null;
}
<!-- USUARIO CONFIG -->
<div class="row divinternoprinc">
    <div class="col-sm-12 scrollestilo" style="padding-top: 10px; height: 80vh; overflow: scroll;">
        <h5>Datos Personales</h5>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="configUsuNombre"><b><i class="fa fa-user"></i>&nbsp;Nombre:</b></label>
                    <input id="configUsuNombre" type="text" class="form-control form-control-sm usuarioindtxtform" placeholder="Nombre del Usuario" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="configUsuApellido"><b><i class="fa fa-user"></i>&nbsp;Apellido:</b></label>
                    <input id="configUsuApellido" type="text" class="form-control form-control-sm usuarioindtxtform" placeholder="Apellido del Usuario" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="configUsuCorreo"><b><i class="fa fa-at"></i>&nbsp;Correo:</b></label>
                    <input id="configUsuCorreo" type="text" class="form-control form-control-sm usuarioindtxtform" placeholder="Correo del Usuario" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <button id="btnConfigUsuGuardar" class="btn btn-block btn-sm btn-success"><i class="fa fa-save"></i> Guardar Valores</button>
            </div>
        </div>
        <hr />
        <h5>Cambiar Contraseña</h5>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="configUsuNuevaPass"><b><i class="fa fa-lock-open"></i>&nbsp;Nueva Contraseña:</b></label>
                    <input id="configUsuNuevaPass" type="password" class="form-control form-control-sm usuarioindtxtform" placeholder="Nueva Contraseña" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="configUsuConfirmPass"><b><i class="fa fa-lock"></i>&nbsp;Repetir Contraseña:</b></label>
                    <input id="configUsuConfirmPass" type="password" class="form-control form-control-sm usuarioindtxtform" placeholder="Repetir Nueva Contraseña" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="configUsuAntPass"><b><i class="fa fa-lock"></i>&nbsp;Antigua Contraseña:</b></label>
                    <input id="configUsuAntPass" type="password" class="form-control form-control-sm usuarioindtxtform" placeholder="Antigua Contraseña" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <button id="btnConfigUsuGuardarPass" class="btn btn-block btn-sm btn-success"><i class="fa fa-save"></i> Guardar Contraseña</button>
            </div>
        </div>
    </div>
</div>