@{
    Layout = null;
}
<div class="row" style="padding-top: 5px;">
    <div class="col-sm-3">
        <button id="btnObtenerListaNIngresosCP" class="btn badge badge-pill badge-primary"><i class="fa fa-sync-alt"></i>&nbsp;Actualizar Lista Ingresos</button>
    </div>
</div>
<div class="row" style="padding-top: 15px;">
    <div id="divNIngresosTablaCP" class="col-sm-12"></div>
</div>