@{
    Layout = null;
}
<div class="divcuerpo scrollestilo" style="overflow-x: scroll; white-space: nowrap; width: 82vw;">
    <div class="col-sm-3" style="display: inline-block;">
        <div class="card border-secondary">
            <div class="card-body cardmenu1">
                <div class="row">
                    <div class="col-sm-2" style="text-align: center;">
                        <h5><i class="fa fa-user"></i></h5>
                    </div>
                    <div class="col-sm-10">
                        <label class="card-title">Info. Individual</label>
                    </div>
                </div>
            </div>
            <div class="card-footer cardmenupie1">
                <button class="btn badge badge-pill badge-dark">Configurar</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3" style="display: inline-block;">
        <div class="card border-secondary">
            <div class="card-body cardmenu1">
                <div class="row">
                    <div class="col-sm-2" style="text-align: center;">
                        <h5><i class="fa fa-map-marker-alt"></i></h5>
                    </div>
                    <div class="col-sm-10">
                        <label class="card-title">Info. Geográfica</label>
                    </div>
                </div>
            </div>
            <div class="card-footer cardmenupie1 bg-completo">
                <button class="btn badge badge-pill badge-dark">Configurar</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3" style="display: inline-block;">
        <div class="card border-secondary">
            <div class="card-body cardmenu1">
                <div class="row">
                    <div class="col-sm-2" style="text-align: center;">
                        <h5><i class="fa fa-balance-scale"></i></h5>
                    </div>
                    <div class="col-sm-10">
                        <label class="card-title">Info. Legal</label>
                    </div>
                </div>
            </div>
            <div class="card-footer cardmenupie1 bg-incompleto">
                <button class="btn badge badge-pill badge-dark">Configurar</button>
            </div>
        </div>
    </div>
</div>
<div class="row esp1">
    <div class="col-sm-2">
        <button id="btnNuevoRegistro" class="btn badge badge-pill badge-info"><i class="fa fa-plus"></i> Nuevo Registro</button>
    </div>
    <div class="col-sm-2">
        <button id="btnConsultarRegistro" class="btn badge badge-pill badge-primary"><i class="fa fa-search"></i> Consultar Registro (F1)</button>
    </div>
</div>
<div class="row esp1">
    <div class="col-sm-12">
        <div class="card">
            <div id="divPacienteDatos" class="card-body scrollestilo" style="overflow: scroll; height: 69vh;"></div>
        </div>
    </div>
</div>