@{
    Layout = null;
}
<div class="row" style="padding-top: 5px;">
    <div class="col-sm-3">
        <button id="btnObtenerInventarioCC" class="btn badge badge-pill badge-info"><i class="fa fa-list"></i>&nbsp;Obtener Lista Inventario</button>
    </div>
    <div class="col-sm-3">
        <button id="btnNuevoInventarioCC" class="btn badge badge-pill badge-primary"><i class="fa fa-plus"></i> Agregar Articulo Inventario</button>
    </div>
    <div class="col-sm-3">
        <button id="btImprimirInventarioCC" class="btn badge badge-pill badge-dark"><i class="fa fa-print"></i> Imprimir Reporte Inventario</button>
    </div>
</div>
<div class="row" style="padding-top: 15px;">
    <div id="divTablaCC" class="col-sm-12"></div>
</div>