@{
    Layout = null;
}
<div class="row scrollestilo" style="padding-top: 5px; height: 80vh; overflow: scroll;">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h5>Lista de Archivos</h5>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2">
                        <button id="archivoBtnDocInfCD" class="btn btn-info btn-sm btn-block"><i class="fa fa-upload"></i> Añadir archivo</button>
                        <input id="archivoDocInfCD" type="file" style="visibility: hidden; font-size: 0px;" />
                    </div>
                    <div class="col-sm-3">
                        <input id="nombreDocInfCD" type="text" placeholder="Nombre del Archivo..." class="form-control form-control-sm" autocomplete="off" />
                    </div>
                    <div class="col-sm-3">
                        <h3 id="iconoDocInfCD"></h3>
                    </div>
                    <div class="col-sm-2">
                        <button id="btnGuardarDocInfCD" class="btn btn-sm btn-block btn-success"><i class="fa fa-save"></i> Guardar Archivo</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div id="divDocsInformativosCD" class="row"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>