
@{
    Layout = null;
}
<li class="nav-item menuopcion">
    <a class="nav-link menu-opc" id="alanon" name="menuopc" indx="0"><i class="fa fa-lightbulb"></i> Al-anon</a>
</li>
<li class="nav-item menuopcion">
    <a class="nav-link menu-opc" id="deportiva" name="menuopc" indx="1"><i class="fa fa-volleyball-ball"></i> C. Deportiva</a>
</li>
<li class="nav-item menuopcion">
    <a class="nav-link menu-opc" id="medica" name="menuopc" indx="2"><i class="fa fa-briefcase-medical"></i> C. Médica</a>
</li>
<li class="nav-item menuopcion">
    <a class="nav-link menu-opc" id="psicologica" name="menuopc" indx="3"><i class="fa fa-hands"></i> C. Psicológica</a>
</li>
<li class="nav-item menuopcion">
    <a class="nav-link menu-opc" id="espiritual" name="menuopc" indx="4"><i class="fa fa-cross"></i> C. Espiritual</a>
</li>
<!--<li class="nav-item menuopcion">
    <a class="nav-link menu-opc" id="espiritual" name="menuopc" indx=""><i class="fa fa-cross"></i> C. Lúdica</a>
</li>-->
<li class="nav-item menuopcion">
    <a class="nav-link menu-opc" id="12pasos" name="menuopc" indx="5"><i class="fa fa-walking"></i> C. Consejería<!--12 pasos--></a>
</li>
<li class="nav-item dropdown menuopcion">
    <a class="nav-link dropdown-toggle menuopcion menu-opc" id="documentacionOpc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-portrait"></i> Documentacion</a>
    <div class="dropdown-menu" aria-labelledby="documentacionOpc">
        <a class="dropdown-item menu-opc" name="menuopc" indx="6">Paciente</a>
        <a class="dropdown-item menu-opc" name="menuopc" indx="7">Familiar</a>
        <a class="dropdown-item menu-opc" name="menuopc" indx="8">Administración</a>
    </div>
</li>