<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand mr-auto mr-lg-0" href="#" style="padding-right: 200px;"></a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul id="barraMenuPrincipal" class="navbar-nav mr-auto"></ul>
        <div class="form-inline my-2 my-lg-0">
            <button id="pantallaPrincipal" class="btn btn-outline-success my-2 mr-sm-2" title="Inicio"><span class="fa fa-calendar-check"></span></button>
            <button id="extensiones" class="btn btn-outline-warning my-2 mr-sm-2" title="Extensiones"><span class="fa fa-wrench"></span></button>
            <button id="menuConfiguracion" class="btn btn-outline-info my-2 mr-sm-2" title="Configuración"><span class="fa fa-cog"></span></button>
            <button class="btn btn-outline-danger my-2 my-sm-0 cerrarSesion" title="Cerrar Sesión"><span class="fa fa-power-off"></span></button>
        </div>
    </div>
</nav>
<main id="divMaestro" role="main" class="container maincuerpo"></main>
<script type="text/javascript">
    window.onload = function () {
        principalParams();
    };
</script>